*,
*:after,
*:before {
  box-sizing: inherit;
  margin: inherit;
  padding: inherit;
}

body {
  box-sizing: border-box;
  margin: auto;
  padding: 0;
  background-color: seashell;
}

.game {
  margin-top: auto;
  text-align: center;
}
h1 {
  font-size: 50px;
  margin: 25px auto;
}
/* Game Board and Squares 
------------------------------- */
.game-board {
  margin: auto;
  width: fit-content;
}
.board-row {
  display: flex;
  flex-direction: row;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}
.square {
  background: beige;
  border: 2px solid darkslategray;
  float: left;
  font-size: 40px;
  font-weight: bold;
  line-height: 60px;
  height: 60px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 60px;
}
.second {
  background: lightsalmon;
}

.square:hover {
  background-color: slateblue;
}

.selected {
  background-color: slategrey;
  border: 2px solid red;
}

/* Status Area
----------------------------------------- */
.status-area {
  margin: auto;
}
.grid-container {
  background-color: snow;
  border: 2px solid darkslategray;
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 1fr;
  justify-items: stretch;
  max-width: 472px;
}
.grid-item {
  margin: 0;
  padding: 0;
  text-align: center;
}
.grid-item h3 {
  font-size: 30px;
  border-bottom: 1px solid darkslategray;
}
.grid-item p {
  margin: 5px 0;
  padding: 5x;
  font-size: 20px;
}
.grid-item:nth-of-type(1) {
  border-right: 2px solid darkslategray;
}
.inactive {
  color: lightgray;
}

/* End Move Button
------------------ */
.end-move-wrapper {
  display: flex;
  margin: auto;
  margin-top: 20px;
  max-width: 472px;
  align-items: center;
}
.end-move {
  border: darkslategray 2px solid;
  background-color: hsl(240, 67%, 94%);
  text-align: center;
  text-decoration: none;
  padding: 3px;
  margin: auto;
  font-size: 20px;
}
.end-move:hover {
  background-color: hsl(240, 67%, 95%);
  box-shadow: 7px 7px 8px -8px;
}

/* Restart Button
--------------------- */
.restart-wrapper {
  display: flex;
  margin: auto;
  margin-top: 20px;
  max-width: 472px;
  align-items: center;
}
.restart {
  border: darkslategray 2px solid;
  background-color: hsl(240, 67%, 94%);
  text-align: center;
  text-decoration: none;
  padding: 3px;
  margin: auto;
  font-size: 20px;
}
.restart:hover {
  background-color: hsl(240, 67%, 90%);
  box-shadow: 7px 7px 8px -8px;
}
